@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lufga";
  src: local("Lufga-Medium"),
    url("/assets/fonts/Lufga-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: local("Lufga-ExtraBold-Italic"),
    url("/assets/fonts/Lufga-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: local("Lufga-ExtraLight"),
    url("/assets/fonts/Lufga-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: local("Lufga-Black-Italic"),
    url("/assets/fonts/Lufga-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: local("Lufga-Black"),
    url("/assets/fonts/Lufga-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: local("Lufga-Light-Italic"),
    url("/assets/fonts/Lufga-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: local("Lufga-Regular"),
    url("/assets/fonts/Lufga-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: local("Lufga-ExtraBold"),
    url("/assets/fonts/Lufga-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: local("Lufga-Light"),
    url("/assets/fonts/Lufga-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: local("Lufga-Bold-Italic"),
    url("/assets/fonts/Lufga-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: local("Lufga-ExtraLight-Italic"),
    url("/assets/fonts/Lufga-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: local("Lufga-Bold"),
    url("/assets/fonts/Lufga-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: local("Lufga-Medium-Italic"),
    url("/assets/fonts/Lufga-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: local("Lufga-Italic"),
    url("/assets/fonts/Lufga-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: local("Lufga-SemiBold"),
    url("/assets/fonts/Lufga-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: local("Lufga-SemiBold-Italic"),
    url("/assets/fonts/Lufga-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: local("Lufga-Thin-Italic"),
    url("/assets/fonts/Lufga-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: local("Lufga-Thin"),
    url("/assets/fonts/Lufga-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

@layer base {
  :root {
    --primary: #18bc7a;
    --dark2: #d9d9d9;
    --dark: #242424;
    --secondary: #f5f5f5;
    --dark3: #1e1e1e;
    --danger: #dc473e;
    --notif: #e9e9e9;
    --input: #f5f5f5;
    --placeholder-text: #a9a9a9;
    --primary-fade: #d5f1e6;
  }
}

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  body {
    @apply max-w-[1550px] bg-notif text-dark3 mx-auto overflow-x-hidden;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-end {
    @apply flex justify-end items-center;
  }

  .wrapper {
    @apply flex-auto w-[80%] flex gap-4 ml-4 pb-10 pr-6;
  }

  .tab-header {
    @apply hidden;
  }

  .tab-label {
    @apply text-dark3 text-[11px] leading-[16.5px] font-normal cursor-pointer inline-block py-2 px-2 mr-5 transition-all;
  }

  .tab-header:checked + .tab-label {
    @apply border-b-4 border-primary text-primary font-semibold transition-all ease-in-out;
  }

  .tab-content {
    @apply mt-10 hidden;
  }

  #tab1:checked ~ #content1,
  #tab2:checked ~ #content2,
  #tab3:checked ~ #content3 {
    @apply block;
  }
}

@layer components {
  .btn {
    @apply rounded-lg text-xs font-medium leading-[34.5px];
  }

  .alert {
    @apply w-full bg-background text-dark rounded-lg flex-center flex-col gap-3;
  }

  .input {
    @apply flex-1 h-[50px] bg-[#F3F3F3] border-none outline-0 rounded-2xl block px-2 py-4  placeholder:text-[12px] placeholder:leading-3 text-[12px] leading-6 text-[#242424] placeholder:text-[#B3B3B3] focus:border-none focus:outline-none focus:ring-transparent;
  }

  .recharge-card {
    @apply flex flex-col px-6 py-6 bg-input rounded-[26px];
  }

  .labels {
    @apply text-[10px] text-[#242424] leading-6 font-normal;
  }

  .select {
    @apply w-[130px] border-none cursor-pointer rounded-full bg-primary-fade duration-300 ring-transparent focus:ring-transparent text-primary;
  }

  .primary-btn {
    @apply bg-primary text-white btn;
  }

  .secondary-btn {
    @apply bg-dark2 text-dark btn;
  }

  .no-scroll {
    @apply overflow-hidden;
  }
}
